*{
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
}
body{
  background-color: lightgray;
}
ul{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}
li{
  background-color: rgb(26, 40, 40);
  padding: 5px;
  border-radius: 2px;
  transition: ease-in-out .4s;
  width: 10vw;
  text-align: center;
}
a{
  color: aliceblue;
  font-size: 14px;
  transition: ease-in-out .4s;
}
li:hover{
  background-color: rgb(144, 164, 164);
}
a:hover{
  color: black;
}
p{
  text-align: center;
  margin-top: 40px;
  background-color: beige;
  padding: 20px;
  border-radius: 5px;
  width: 80vw;
  margin-left: 10vw;
}